/* site header */
#header {
    font-size: 0.875em;
    font-weight: 500;
    margin-bottom: calc(8 * var(--density));
    position: relative;

    /* icon and brand name */
    .heading {
        padding: calc(3 * var(--density));
        padding-left: calc(16 * var(--density));
        float: left;

        /* site logo */
        .logo {
            float: left;
            height: 42px;
        }

        /* site title */
        a, a:visited {
            color: var(--secondary);
            font-size: 1.75em;
            line-height: 1.75em;
        }

        /* title superscript */
        sup {
            font-size: 0.5em;
            font-style: italic;
        }
    }

    /* invisible landmark */
    .landmark {
        clear: none;
        font-size: 0;
    }

    li {
        display: block;
        float: left;
        position: relative;
    }

    /* user actions */
    .user {
        padding: calc(4 * var(--density)) 0 0;
        position: relative;
        z-index: 20;
    }

    /* search form */
    .search {
        float: right;

        /* search input */
        #site_search {
            color: var(--background);
            background: var(--foreground-light);
            border: none;
            outline-offset: 0;
            margin: calc(2 * var(--density)) calc(4 * var(--density));
            padding: calc(2 * var(--density));
        }

        /* search button */
        .button {
            color: var(--background);
            background: var(--foreground-light);
            border: none;
            margin: 0;
            padding: calc(2 * var(--density)) calc(4 * var(--density));
        }
    }

    .primary {
        background: var(--primary);
        padding: 0 calc(16 * var(--density));
        box-sizing: border-box;
        width: 100%;

        a {
            padding: 0.5em 0.75em;
            color: var(--foreground-light);
        }

    }

    .menu {
        background: var(--background-light);
        border: 1px solid var(--foreground-transparent);
        border-top: none;
        border-radius: 0 0 0.25em 0.25em;
        display: none;
        position: absolute;
        width: 20em;
        z-index: 55;

        li {
            text-align: left;

            a {
                border-bottom: 1px solid var(--foreground-dark);
            }

            &:last-child a {
                border-bottom: none;
            }
        }
    }

    h2 {
        border-top: 1px solid;
        clear: both;
        color: var(--foreground-light);
        display: block;
        font-size: 1.714em;
        line-height: 1.5;
        margin: 0;
        padding: 0 calc(3 * var(--density));
        text-shadow: none;
    }

    .dropdown .menu a {
        background: transparent;
        display: block;
        padding: calc(4 * var(--density));

        &:hover, &:focus {
            background: var(--foreground-transparent);
        }
    }

    input, #search > *, #search .submit {
        display: inline;
        float: none;
    }

    a, fieldset, form, p, li, h1 {
        background: transparent;
        font-size: 100%;
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }

    .actions a:hover, .actions a:focus, .dropdown:hover a, .open a {
        background: var(--background-light);
    }

    .open .menu, .dropdown:hover .menu, .menu li {
        display: block;
        float: none;
    }

    .user a {
        padding: 0.25em 0.75em;

        &:hover, &:focus {
            color: var(--secondary);
        }
    }
}

#greeting {
    padding: calc(3 * var(--density));
    padding-right: calc(16 * var(--density));
    float: right;

    p.icon {
        float: right;
        height: auto;
        width: auto;
        padding-top: calc(4 * var(--density));
    }

    img.icon {
        height: 25px;
        width: 25px;
        background-size: 100%;
    }

    .menu {
        right: 0;
    }

    .dropdown .menu a {
        border-radius: 0;
    }

    .user > li {
        margin: 0 calc(1 * var(--density));
    }

    /* square off bottom corners when the dropdown is visible */
    .open a, .dropdown:hover a {
        border-radius: 0.25em 0.25em 0 0;
    }
}