/*==ROLES AND STATES
http://otwcode.github.com/docs/front_end_coding/patterns/modifiers
*/

.draft {
    border: 2px dashed var(--foreground);
    padding: 0.75em;
    border-radius: 0.5em;
}

#previewpane {
    margin-top: 0.5em;
}

/*(these states spoof the ".navigation .current" style)*/

span.unread, .replied, span.claimed, .actions span.defaulted {
    background: var(--placeholder);
    color: var(--primary);
    width: auto;
    line-height: 1.286;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
    height: 1.286em;
    vertical-align: middle;
    display: inline-block;
    padding: 0.25em 0.75em;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    text-decoration: none;
    border: 1px solid var(--placeholder);
    border-bottom: 1px solid var(--placeholder);
    border-radius: 0.25em;
}

.actions span.defaulted {
    color: var(--placeholder);
}

.canonical, li.requested {
    font-weight: 700;
}

.hidden, body .hidden, .actions .hidden, .actions a.hidden, #dashboard .hidden {
    display: none;
}

.draggable, .droppable, span.requested, .nominations .rejected {
    color: var(--primary);
}

span.offered, .replied, .nominations .approved {
    color: var(--placeholder);
}

.nominations {
    .approved {
        background: var(--placeholder);
    }

    .rejected {
        background: var(--placeholder);
    }
}

span.offered.requested {
    color: var(--placeholder);
}

/* Arrows for the accordion widget */

.collapsed::after {
    content: " \2193";
}

.expanded::after {
    content: " \2191";
}

/*This is a helper for Back End and can be overridden contextually anywhere*/

.commas li {
    display: inline;

    &::after {
        content: ", ";
    }

    &:last-child::after, &:only-child::after {
        content: none;
    }
}

/* CONTEXTS */

.dashboard .own {
    opacity: 1;
}

.comment span.unreviewed {
    background: transparent;
    opacity: 1;
}