/*
  Define any custom styles here.
*/

li.blurb {
    margin: 1em 0;
}

.autocomplete input {
    border-radius: 0.25em;
    margin-top: 0.5em;
}

.autocomplete li.added {
    border-radius: 9999em;
    background: var(--transparent-lighten);
    color: var(--foreground-lighter);
    margin: 0.25em;
    padding: 0 0.25em 0 0.75em;
}

/* 
  Hide delete account button.
*/
.user.home.profile .actions a[rel=nofollow] {
    display: none;
}

/*
  Hide unsubscribe buttons in list.
  You can still unsubscribe after clicking the user profile.
*/
dl.subscription {
    /* increase space between links */
    dt {
        margin-bottom: 0.75em;
    }

    /* hide button */
    dd {
        display: none;
    }
}