/*
  Define all variables here that are used in the stylesheets.
*/
:root {
    --background-darker: oklch(0.15 0.003 248);
    --background: oklch(0.20 0.003 248);
    --background-lighter: oklch(0.25 0.003 248);

    --foreground-darker: oklch(0.65 0.011 248);
    --foreground: oklch(0.80 0.011 248);
    --foreground-lighter: oklch(0.95 0.011 248);

    --red: oklch(0.40 0.176 29.23);
    --red-lighter: oklch(0.60 0.176 29.23);
    --red-contrast: var(--foreground-lighter);

    --orange: oklch(0.83 0.12 67);
    --orange-contrast: var(--background-darker);

    --yellow: oklch(0.90 0.12 103);
    --yellow-contrast: var(--background-darker);

    --transparent-lighten: oklch(1 0 0 / 0.10);
    --transparent-darken: oklch(0 0 0 / 0.10);
}