/*
  Define all global variables here.
  You can use https://daisyui.com/theme-generator for easy theme generation (color variables are named accordingly).
*/
:root {
    /* colors */
    --color-base-100: oklch(0.15 0.003 248);
    --color-base-200: oklch(0.20 0.003 248);
    --color-base-300: oklch(0.25 0.003 248);
    --color-base-content: oklch(0.85 0.003 248);

    --color-primary: oklch(0.40 0.176 29.23);
    --color-primary-content: var(--color-base-content);
    --color-secondary: oklch(0.80 0.12 75);
    --color-secondary-content: var(--color-base-100);
    --color-accent: oklch(0.71 0.16 300);
    --color-accent-content: var(--color-base-100);
    --color-neutral: oklch(0.40 0.003 248);
    --color-neutral-content: var(--color-base-content);

    --color-success: oklch(0.80 0.10 140);
    --color-success-content: var(--color-base-100);
    --color-info: oklch(0.80 0.10 210);
    --color-info-content: var(--color-base-100);
    --color-warning: oklch(0.80 0.10 80);
    --color-warning-content: var(--color-base-100);
    --color-error: oklch(0.80 0.10 0);
    --color-error-content: var(--color-base-100);

    /* ui parameters */
    --ui-density: 0.125rem;
    --ui-roundness: 0.125rem;
    --ui-border: 1px;

    /* fonts */
    --font-serif: 'Georgia', serif;
    --font-sans: 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'Helvetica', sans-serif, 'GNU Unifont';
    --font-mono: 'Monaco', 'Consolas', 'Courier', monospace;
}