/*
  Define all global variables here.
*/
:root {
    /* background color */
    --_background-ch: 0.003 248;
    --background: oklch(0.20 var(--_background-ch));
    --background-light: oklch(0.25 var(--_background-ch));
    --background-dark: oklch(0.15 var(--_background-ch));
    --background-transparent: oklch(0 0 0 / 0.10);

    /* foreground color */
    --_foreground-ch: 0.011 248;
    --foreground: oklch(0.80 var(--_foreground-ch));
    --foreground-light: oklch(0.95 var(--_foreground-ch));
    --foreground-dark: oklch(0.65 var(--_foreground-ch));
    --foreground-transparent: oklch(1 0 0 / 0.10);

    /* primary color */
    --_primary-ch: 0.176 29.23;
    --primary: oklch(0.40 var(--_primary-ch));
    --primary-light: oklch(0.60 var(--_primary-ch));
    --primary-contrast: var(--foreground-light);

    /* secondary color */
    --_secondary-ch: 0.12 67;
    --secondary: oklch(0.83 var(--_secondary-ch));
    --secondary-light: oklch(0.95 var(--_secondary-ch));
    --secondary-contrast: var(--background-dark);

    /* special colors */
    --_special-lc: 0.80 0.10;
    --success: oklch(var(--_special-lc) 140);
    --success-contrast: var(--background-dark);
    --info: oklch(var(--_special-lc) 210);
    --info-contrast: var(--background-dark);
    --warning: oklch(var(--_special-lc) 80);
    --warning-contrast: var(--background-dark);
    --error: oklch(var(--_special-lc) 0);
    --error-contrast: var(--background-dark);

    /* UI density */
    --density: 0.125em;

    /* corner roundness */
    --roundness: 0.125em;
}